<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <title>Agenda de Contatos</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}"/>
  <link rel="stylesheet" th:href="@{/css/morris.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
</head>

<body>
  <div class="columns">
    <aside class="column is-2 aside	 hero is-fullheight is-hidden-mobile">
      <div>
        <div class="main">
          <div class="title">Menu</div>
          <a th:href="@{/}" class="item"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a>
          <a th:href="@{/contatos/novo}" class="item active"><span class="icon"><i class="fa fa-plus"></i></span><span class="name">Novo Contato</span></a>
          <a th:href="@{/contatos}" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Listar Contatos</span></a>     
        </div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              <h1 class="title padding">
              Agenda de Contatos com Spring
              </h1>
              <!-- <img src="images/bulma.png" alt="Description"> -->
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu is-hidden-tablet">
            <a href="#" class="nav-item is-active">
              Dashboard
            </a>
            <a href="#" class="nav-item">
              Novo Contato
            </a>
            <a href="#" class="nav-item">
              Listar Contatos
            </a>            
          </div>
        </div>
      </nav>
      <section class="hero is-small">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container">
            <h2 class="subtitle padding">
              Cadastrar novo contato
            </h2>            
          </div>
        </div>
      </section>
      <section class="section">
        <div class="columns is-mobile is-multiline">
      
        <div class="column">
          <section class="panel">
            <p class="panel-heading">
             Cadastrar novo contato
           </p>
           <div class="panel-block">
            <label class="label">Nome</label>
            <p class="control">
              <input class="input" type="text" placeholder="Nome"/>
            </p>
            <label class="label">Telefone</label>
            <p class="control has-icon has-icon-right">
              <input class="input is-success" type="text" placeholder="Telefone"/>
              <i class="fa fa-check"></i>
              <span class="help is-success">This username is available</span>
            </p>
            <label class="label">Email</label>
            <p class="control has-icon has-icon-right">
              <input class="input is-danger" type="text" placeholder="Email input"/>
              <i class="fa fa-warning"></i>
              <span class="help is-danger">This email is invalid</span>
            </p>
            <label class="label">Subject</label>
            <p class="control">
              <span class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </span>
            </p>
            <label class="label">Message</label>
            <p class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </p>
            <p class="control">
              <label class="checkbox">
                <input type="checkbox"/>
                Remember me
              </label>
            </p>
            <p class="control">
              <label class="radio">
                <input type="radio" name="question"/>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question"/>
                No
              </label>
            </p>
            <p class="control">
              <button class="button is-primary"><i class="fa fa-floppy-o"></i> &nbsp; Salvar </button>
              <button class="button is-link">Cancelar</button>
            </p>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
</div>
<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script type="text/javascript" th:src="@{/js/bulma.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</body>
</html>