<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <title>Agenda de Contatos</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}"/>
  <link rel="stylesheet" th:href="@{/css/morris.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
</head>

<body>
  <div class="columns">
    <aside class="column is-2 aside	 hero is-fullheight is-hidden-mobile">
      <div>
        <div class="main">
          <div class="title">Menu</div>
          <a th:href="@{/}" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a>
          <a th:href="@{/contatos/novo}" class="item"><span class="icon"><i class="fa fa-plus"></i></span><span class="name">Novo</span></a>
          <a th:href="@{/contatos}" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Listar</span></a>     
        </div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              <h1 class="title padding">
              Agenda de Contatos com Spring
              </h1>
              <!-- <img src="images/bulma.png" alt="Description"> -->
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu is-hidden-tablet">
            <a href="#" class="nav-item is-active">
              Dashboard
            </a>
            <a href="#" class="nav-item">
              Novo
            </a>
            <a href="#" class="nav-item">
              Listar
            </a>            
          </div>
        </div>
      </nav>
      <section class="hero is-small">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container">
            <h2 class="subtitle padding">
              Dashboard
            </h2>            
          </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
          <nav class="level">
            <div class="level-item has-text-centered">
              <p class="heading">Total de Contatos</p>
              <p class="title">0</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Familiares</p>
              <p class="title">0</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Amigos de infância</p>
              <p class="title">0</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Amigos de trabalho</p>
              <p class="title">0</p>
            </div>
          </nav>
        </div>
      </section>
      <section class="section">
        
  	</section>
</div>
</div>

<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>Spring MVC</strong> com <a href="#">Lógica de programação</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript" th:src="@{/js/bulma.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</body>
</html>